*{
    margin: 0;
}

html,body {
    background-color: white;
}

div > ul > li:nth-child(2) {
    color: red;
}

div > ul > li:nth-child(3) {
    color: red;
}


div > ol > li:nth-child(2) {
    font-weight: bold;
    margin-left: -5px;
    font-size: 24px;
}

div > ol > li:nth-child(4) {
    font-weight: bold;
    margin-left: -5px;
    font-size: 24px;
}


div > div{
    background-color: red;
    width: 100px;
    height: 100px;
}

div > div > p:nth-child(1){
    font-style: italic;
}

div > div > div > p:nth-child(2){
    color: white;
}

div > div > div > p:nth-child(3){
    color: white;
}


button {
    height: 40px;
    width: 80px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: blue;
    border-width: 1px;
}


button:focus {
    background-color: blue;
    border-radius: 0px;
    width: 200px;
    height: 150px;

}

