*{
    margin: 0;
}

html,body {
    background-color: white;
}

div > ul > li:nth-child(2) {
    color: red;
}

div > ul > li:nth-child(3) {
    color: red;
}


div > ol > li:nth-child(2) {
    font-weight: bold;
    margin-left: -5px;
    font-size: 20px;
}

div > ol > li:nth-child(4) {
    font-weight: bold;
    margin-left: -5px;
    font-size: 20px;
}


div > div{
    background-color: red;
    width: 100px;
    height: auto;
}

div > div > div > p{
    color: white;
}


button {
    height: 40px;
    width: 80px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    background-color: antiquewhite;
}

button:hover {
    background-color: bisque;
    border-width: 3px;
}